name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  ci:
    uses: lumirelle/workflows/.github/workflows/ci.yml@v2
    with:
      # If your packages need to reference build artifacts each other during checks,
      # set this to true to build them before running checks.
      build-for-check: true
